* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */
.logo img{
    width: 80px;
}

.nav-item a {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item a:hover {
    color: red !important;
}

.search {
    margin-right: 10px;
}
.search::after {
    content: " | ";
    font-size: 25px;
    padding-left: 10px;
}
.menu {
    margin-left: 10px;
}
.fa-solid {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* header end */




/* banner */
.banner-section {
    width: 100%;
    height: 100vh;
    background-color: #191B1F;
    z-index: -1;
}
.box {
    margin: 10px;
}

.intro {
    padding-top: 15%;
}
.intro h4, h2 {
    padding: 10px 80px;
}
.intro h4{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
.intro h4::after{
    content: " ♦ ";
    color: red;
}
.intro h2{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.719);
}
.intro h1{
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #fff;
    padding-top: 0px;
    padding-left: 80px;
}
.intro h1 span{
    color: #fff;
}

.image {
    /* background: yellow; */
    position: relative;
    z-index: 5;
}
.pic {
    width: 140%;
    height: 100vh;
    margin-top: 35%;
    margin-left: -100px;
    background-image: url("../assets/images/pic1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 10;
}
.self {
    position: relative;
}
.kanji {
    margin-top: 150px;
    text-align: center;
    /* background: yellowgreen; */
}
.self h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    padding-top: 0px;
}
.kanji p {
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-top: 80px;
    padding-right: 20px;
}
.kanji p::before {
    content: " ";
    width: 5px;
    height: 100px;
    background: red;
    position: absolute;
    top: 410px;
    right: 10px;
}

/* banner end */



/* contact */
.contact-box {
    text-align: center;
    margin-top: 120px;
    padding-left: 80px;
    /* background-color: aquamarine; */
}
.contact-box h4 {
    font-size: 15px;
}
.contact-box h2{
    font-size: 20px;
    font-weight: bold;
}
.address, .phone, .time {
    /* background: silver; */
    padding-top: 30px;
}
.address {
    background-image: url("../assets/images/location-dot-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left;
}
.phone {
    background-image: url("../assets/images/phone-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left;
}
.time {
    background-image: url("../assets/images/calendar-days-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left;
}

/* contact end */


/* intro */
.table {
    width: 100%;
    height: 100%;
}
.img-tb{
    width: 50px;
    height: 150px;
}
.img-tb button {
    font-size: 15px;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    background: red;
    border-radius: 0px;
}
.img-tb button:hover {
    color: #fff;
    background: rgb(211, 88, 88);
    border-radius: none;
}
.img-tb img{
    background: #ececec;
}
.intro-head p {
    font-size: 2em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
}
.div1 {
    margin-top: 50px;
}
.div1, .div2 {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.one, .two, .three, .four {
    width: 80px;
    height: 80px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #bebcbc;
    transition: color 0.5s;
    position: relative;
}
.one:hover, .two:hover, .three:hover, .four:hover {
    color: #191B1F;
}

.one::before {
    content: " ";
    height: 80px;
    width: 2px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 2px;
    right: -2px;
}
.two::before {
    content: " ";
    height: 2px;
    width: 80px;
    background: rgb(148, 148, 148);
    position: absolute;
    bottom: -2px;
    right: -2px;
}
.three::before {
    content: " ";
    height: 2px;
    width: 80px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 0;
    left: 0;
}
.four::before {
    content: " ";
    height: 80px;
    width: 2px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 0;
    left: 0;
}

.info-detail q {
    margin-top: 50px;
    font-size: 1.8em;
    font-style: italic;
    background: rgb(240, 206, 162);
}
.info-detail p {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info-detail button {
    margin-top: 50px;
    background: none;
    color: red;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
}
.info-detail button:hover {
    color: red;
    background: none;
    border-bottom: 1px solid red;
}

/* intro end */




/* features start */
.features-section {
    width: 100%;
    height: 90vh;
    margin-top: 150px;
    color: #fff;
    background-color: #191B1F;
}
.box-row {
    display: flex;
}
.f1 h1,.f1 p, .bars {
    padding-left: 70px;
}
.f1 h1, .bars {
    padding-top: 50px;
}
.f1 button {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px;
    margin-left: 70px;
    margin-top: 50px;
    background: none;
    border: 2px solid #eee;
    border-radius: 0;
}
.f1 button:hover {
    color: #000;
    background: #eee;
    border: 2px solid #000;
}
.f2 { 
    display: flex;
}

.sec1 {
    height: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sec2 {
    height: 340px;
    padding: 20px;
    display: flex;
    margin-top: -80px;
    flex-direction: column;
    justify-content: flex-end;
}
.sec3 {
    height: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: bottom;
}
.sec4 {
    height: 280px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.fa-dumbbell, .fa-fire, .fa-ranking-star, .fa-person-chalkboard {
    font-size: 3em;
    padding: 20px;
    color: rgb(192, 0, 0);
}

/* features end */




/* classes start */
.classes-box {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    margin-bottom: 80px;
}
.classes-box h1 {
    font-family: monospace;
    font-weight: bold;
}
.classes-box p {
    margin-bottom: 50px;
}
.col {
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-top: 20px !important;
    background: #fff;
    box-shadow: 0px 13px 14px -4px rgb(0 0 0 / 10%);
}
.imgbx{
    height: 300px !important;
    background: yellow;
    overflow: hidden;
}
.imgbx img{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
}
.imgbx img:hover{
    transform: scale(1.2);
}
.class-info h3 {
    color: #000;
    padding-top: 15px;
}
.class-info p {
    color: #9f9f9f;
}
.fa-angle-down {
    margin-bottom: 10px;
    color: rgb(192, 0, 0);
    cursor: pointer;
    transition: transform 0.4s;
}
.fa-angle-down:hover {
    transform: scale(1.3);
}

/* classes end */



/* join start */
.join-section {
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url("../assets/images/karate-belt-class.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.join-section::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
}
.s1 {
    position: relative;
    width: 30vw;
    height: 577px;
}
.k1 {
    margin-top: 150px;
}
.k1 h2{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    align-items: center;
    text-align: center;
}
.s2 {
    position: relative;
    width: 70vw;
    height: 577px;
}
.s2 h2{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
}
.s2 p{
    font-size: 18px;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-left: 80px;
}
.btn1 {
    width: 250px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    margin-left: 350px;
    margin-top: 10px;
    color: #fff;
    background: rgb(192, 0, 0);
    transition: all 0.5s ease;
}
.btn1:hover {
    color: rgb(192, 0, 0);
    background: #fff;
}
.btn2 {
    width: 250px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.5s ease;
}
.btn2:hover {
    color: rgb(192, 0, 0);
    background: #fff;
}
/* join end */







/* instructor start */
.instructor-section {
    height: 80vh;
    margin-top: 50px;
}
.background-circle {
    width: 450px;
    height: 450px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    z-index: -10;
}
.col-md-8 {
    height: 80vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}
.col-md-8 h2 {
    font-size: 3.2em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.col-md-8 p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}
.col-md-8 button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background: green;
    border: none;
    position: absolute;
    bottom: 60px;
    left: 50px;
    transition: all 0.4s ease;
}
.col-md-8 button:hover {
    color: green;
    background: #fff;
    border: none;
}
.inst-img {
    height: 80vh;
}
.inst-img img{
    margin-left: 100px;
    height: 100%;
}
/* instructor end */



/* testimonial start */
.testimonial-section {
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
    padding: 80px;
    /* color: #fff; */
    background-color: #191B1F;
}
.t1 {
    text-align: center;
}
.t1 h1{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px
}

.t1-info {
    color: #fff;
    width: 450px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}
.t2 {
    height: 350px;
    margin-top: 20px;
}
.t2-ts {
    padding: 40px;
    margin: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
}
.t2-ts p {
    color: #fff;
    font-size: 20px;
    padding-left: 0px;
}
.t2-ts h3 {
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 50px;
}
.t2-ts h4 {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    color: rgb(192, 0, 0);
}
/* testimonial end */




/* footer start */
.footer-section {
    width: 100%;
    height: 50vh;
    padding: 50px;
    background: #191B1F;
}

.sm {
    width: 100%;
    padding: 20px;
}

.foot-info p {
    color: #fff;
    font-size: 25px;
    margin: 0px;
    align-items: center;
}
.links h3 {
    color: #fff;
    padding-left: 30px;
}
.links ul li {
    list-style: none;
}
.links ul li::before {
    content: " ♦ ";
    color: red;
}
.links ul li a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
}
.foot-address h3 {
    color: #fff;
    padding-left: 30px;
}
.foot-address ul li {
    list-style: none;
}
.foot-address ul li::before {
    content: " ♦ ";
    color: red;
}
.foot-address ul li a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
}
.social-media h3 {
    color: #fff;
}
.social-media p {
    color: grey;
}
.social-icon {
    width: 100%;
    height: 50px;
}

.fa-facebook {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.fa-facebook:hover {
    color: rgb(0, 21, 255);
}
.fa-twitter {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.fa-twitter:hover {
    color: rgb(85, 190, 255);
}
.fa-instagram {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.fa-instagram:hover {
    color: orangered;
}
.fa-youtube {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.fa-youtube:hover {
    color: red;
}
.border-line {
    color: #fff;
}
.ftc {
    position: relative;
}
.pt {
    color: grey;
    position: absolute;
    left: 70px;
}
.cr {
    color: grey;
    position: absolute;
    right: 70px;
}
/* footer end */