* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */
.logo img {
    width: 80px;
}

.navbar {
    align-items: center;
    line-height: 1.5em;
}

.nav-item a {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: red !important;
}

.search {
    margin-right: 10px;
}

.search::after {
    content: " | ";
    font-size: 25px;
    padding-left: 10px;
}

.menu {
    margin-left: 10px;
}

.fa-solid {
    font-size: 1.5em;
    line-height: 1.5em;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.menu-bar {
    display: none !important;
}


@media only screen and (max-width:1024px) {
    .logo img {
        width: 60px;
    }
}

@media only screen and (max-width:768px) {
    .logo img {
        width: 40px;
    }

    .fa-solid {
        font-size: 1em;
        line-height: 1em;
    }
}

@media only screen and (max-width:376px) {
    .logo img {
        width: 50px;
    }

    .search {
        display: none;
    }

    .menu {
        display: none;
    }

    .navbar {
        display: relative;
    }

    .nav {
        width: 100%;
        text-align: end;
        display: block !important;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .nav-item {
        display: block;
        background: rgba(1, 12, 22, 1);
    }

    .nav-link {
        color: #fff !important;
    }

    .menu-bar {
        display: block !important;
    }

    #menuList {
        transition: 0.5s;
        overflow: hidden;
    }

}

/* header end */




/* banner */
.banner-section {
    width: 100%;
    height: 100vh;
    background-color: #191B1F;
    z-index: -1;
}

.box {
    margin: 10px;
}

.intro {
    padding-top: 15%;
}

.intro h4,
h2 {
    padding: 10px 80px;
}

.intro h4 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.intro h4::after {
    content: " ♦ ";
    color: red;
}

.intro h2 {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.719);
}

.intro h1 {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #fff;
    padding-top: 0px;
    padding-left: 80px;
}

.intro h1 span {
    color: #fff;
}

.image {
    position: relative;
    z-index: 5;
}

.pic {
    width: 140%;
    height: 100vh;
    margin-top: 20%;
    margin-left: -80px;
    position: absolute;
    z-index: 10;
}

.pic img {
    width: 80%;
    height: 100%;
}

.self {
    position: relative;
}

.kanji {
    margin-top: 150px;
    text-align: center;
}

.self h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    padding-top: 0px;
}

.kanji p {
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-top: 80px;
    padding-right: 20px;
}

.kanji p::before {
    content: " ";
    width: 5px;
    height: 100px;
    background: red;
    position: absolute;
    top: 410px;
    right: 10px;
}

@media only screen and (max-width:1024px) {
    .intro h1 {
        font-size: 3.5em;
    }

    .intro h2 {
        font-size: 1.5em;
    }

    .pic {
        margin-top: 35%;
        margin-left: -20px;
    }

    .kanji p {
        font-size: 15px;
    }

}

@media only screen and (max-width:768px) {
    .intro h1 {
        font-size: 3em;
    }

    .intro h2 {
        font-size: 1em;
    }

    .image {
        margin-top: 0px;
    }

    .pic {
        margin-top: 25%;
    }

    .pic img {
        width: 100%;
        height: 100%;
    }

    .kanji p {
        font-size: 12px;
    }

}

@media only screen and (max-width:376px) {

    .intro h4,
    .intro h2 {
        padding: 5px 20px;
    }
    .intro h4 {
        display: none;
    }
    .intro h1 {
        padding-left: 20px;
    }

    .intro h2 {
        font-size: 0.8em;
    }

    .pic {
        width: 90%;
        margin-top: 0px;
        margin-left: 60px;
        overflow: hidden;
    }

    .pic img {
        width: 50vw;
        height: 60vh;
    }

    .kanji {
        display: none;
    }

}

/* banner end */



/* contact */
.contact-box {
    text-align: center;
    margin-top: 120px;
}

.contact-box h4 {
    font-size: 15px;
}

.contact-box h2 {
    font-size: 20px;
    font-weight: bold;
}

.address,
.phone,
.time {
    padding-top: 30px;
}

.address {
    position: relative;
}

.address::after {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/location-dot-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
}

.phone {
    position: relative;
}

.phone::after {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/phone-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
}

.time {
    position: relative;
}

.time::after {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/calendar-days-solid.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
}

@media only screen and (max-width:768px) {
    .contact-box {
        margin-top: 50px;
    }

    .address h4,
    .phone h4,
    .time h4 {
        font-size: 12px;
    }

    .address h2,
    .phone h2,
    .time h2 {
        font-size: 15px;
        display: contents;
    }
}

@media only screen and (max-width:426px) {
    .contact-box {
        margin-top: 100px;
    }

    .col-md-4 {
        margin: 5px;
    }
}

/* contact end */





/* intro */
.intro-box {
    height: 100%;
    width: 100%;
}

.table {
    width: 100%;
    height: 100%;
}

.img-tb {
    width: 100vw;
    height: 70vh;
}

.img-tb button {
    width: 30px;
    font-size: 15px;
    font-weight: bold;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    background: red;
    border-radius: 0px;
}

.img-tb button:hover {
    color: #fff;
    background: rgb(211, 88, 88);
    border-radius: none;
}



.intro-head p {
    font-size: 2em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
}

.div1 {
    margin-top: 50px;
}

.div1,
.div2 {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.one,
.two,
.three,
.four {
    width: 80px;
    height: 80px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #bebcbc;
    transition: color 0.5s;
    position: relative;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
    color: #191B1F;
}

.one::before {
    content: " ";
    height: 80px;
    width: 2px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 2px;
    right: -2px;
}

.two::before {
    content: " ";
    height: 2px;
    width: 80px;
    background: rgb(148, 148, 148);
    position: absolute;
    bottom: -2px;
    right: -2px;
}

.three::before {
    content: " ";
    height: 2px;
    width: 80px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 0;
    left: 0;
}

.four::before {
    content: " ";
    height: 80px;
    width: 2px;
    background: rgb(148, 148, 148);
    position: absolute;
    top: 0;
    left: 0;
}

.info-detail {
    position: relative;
}

.info-detail q {
    margin-top: 50px;
    font-size: 1.8em;
    font-style: italic;
    background: rgb(240, 206, 162);
}

.info-detail p {
    padding: 20px;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info-detail button {
    margin-top: 50px;
    background: none;
    color: red;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
}

.info-detail button:hover {
    color: red;
    background: none;
    border-bottom: 1px solid red;
}

@media only screen and (max-width:1024px) {
    .img-tb {
        position: relative;
    }

    .img-tb button {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width:768px) {
    .intro-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .img-tb {
        width: 80vw !important;
        height: 80vh;
    }

    .img-tb img {
        width: 100% !important;
        height: 100% !important;
    }

    .img-tb button {
        width: 250px !important;
    }

    .intro-head p {
        font-size: 1.2em;
    }

    .div1 {
        margin-top: 50px;
    }

    .div1,
    .div2 {
        margin-right: 0 !important;
    }

    .one,
    .two,
    .three,
    .four {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .four::before {
        top: -30px;
    }

    .info-detail q {

        font-size: 1.2em;
    }

    .info-detail p {
        margin: 0px;
    }

    .info-detail button {
        left: 20px;
        bottom: 0px;
    }
}

@media only screen and (max-width:376px) {
    .contact-box {
        margin-top: 100px;
    }

    .col-md-4 {
        margin: 5px;
    }

    .img-tb button {
        margin-left: 45px;
        font-size: 12px;
    }

    .info-detail q {
        font-size: 1em;
    }

    .info-detail p {
        font-size: 12px;
    }

    .info-detail button {
        font-size: 12px;
        color: #fff;
        background: red;
    }
    .img-tb {
        width: 120vw;
    }
}

/* intro end */




/* features start */
.features-section {
    width: 100%;
    height: 90vh;
    margin-top: 150px;
    color: #fff;
    background-color: #191B1F;
}

.box-row {
    display: flex;
}

.f1 h1,
.f1 p,
.bars {
    padding-left: 70px;
}

.f1 h1,
.bars {
    padding-top: 50px;
}

.f1 button {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 15px;
    margin-left: 70px;
    margin-top: 50px;
    background: none;
    border: 2px solid #eee;
    border-radius: 0;
}

.f1 button:hover {
    color: #000;
    background: #eee;
    border: 2px solid #000;
}

.f2 {
    display: flex;
}

.sec1 {
    height: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec2 {
    height: 340px;
    padding: 20px;
    display: flex;
    margin-top: -80px;
    flex-direction: column;
    justify-content: flex-end;
}

.sec3 {
    height: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: bottom;
}

.sec4 {
    height: 280px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.fa-dumbbell,
.fa-fire,
.fa-ranking-star,
.fa-person-chalkboard {
    font-size: 3em;
    padding: 20px;
    color: rgb(192, 0, 0);
}

@media only screen and (max-width:1024px) {
    .f1 button {
        font-size: 12px;
    }

    .sec1 {
        height: 240px;
    }

    .sec2 {
        height: 340px;
    }

    .sec3 {
        height: 300px;
    }

    .sec4 {
        height: 240px;
    }

    .fa-dumbbell,
    .fa-fire,
    .fa-ranking-star,
    .fa-person-chalkboard {
        font-size: 2em;
    }
}

@media only screen and (max-width:768px) {
    .features-section {
        margin-top: 50px;
    }

    .f1 {
        position: relative;
    }

    .f1 h1,
    .f1 p,
    .bars {
        padding-top: 20px;
        padding-left: 20px;
    }

    .f1 h1 {
        font-size: 1.6em;
        font-weight: bold;
    }

    .f1 p {
        font-size: 0.8em;
    }

    .bar1 h3,
    .bar2 h3,
    .bar3 h3 {
        font-size: 20px;
    }

    .f1 button {
        font-size: 15px;
        padding: 10px;
        margin-left: 40px;
        position: absolute;
        bottom: 50px;
        left: 0;
    }

    .sec1 h3,
    .sec2 h3,
    .sec3 h3,
    .sec4 h3 {
        font-size: 20px;
    }

    .sec1 p,
    .sec2 p,
    .sec3 p,
    .sec4 p {
        font-size: 12px;
    }

    .sec1 {
        height: 250px;
        margin-top: 10px;
    }

    .sec4 {
        height: 250px;
        margin-top: 0px;
    }
}

@media only screen and (max-width:376px) {
    .features-section {
        height: 100%;
        margin-top: 10px;
    }

    .box-row {
        display: block;
    }


    .f1 {
        width: 100% !important;
        margin-bottom: 40px;
    }
    .f1 h1 {
        font-size: 1.2em;
    }

    .f1 p {
        font-size: 0.8em;
    }

    .bar1 h3,
    .bar2 h3,
    .bar3 h3 {
        font-size: 15px;
    }

    .f1 button {
        font-size: 10px;
        position: absolute;
        bottom: -50px;
        left: 0;
    }

    .sec1 h3,
    .sec2 h3,
    .sec3 h3,
    .sec4 h3 {
        font-size: 20px;
    }

    .sec1 p,
    .sec2 p,
    .sec3 p,
    .sec4 p {
        font-size: 12px;
    }
    .sec1 ,
    .sec2 ,
    .sec3 ,
    .sec4  {
        width: auto;
        height: auto;
        margin: auto;
    }

}

/* features end */




/* classes start */
.classes-box {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    margin-bottom: 80px;
}

.classes-box h1 {
    font-family: monospace;
    font-weight: bold;
}

.classes-box p {
    margin-bottom: 50px;
}

.col {
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-top: 20px !important;
    background: #fff;
    box-shadow: 0px 13px 14px -4px rgb(0 0 0 / 10%);
}

.imgbx {
    height: 300px !important;
    overflow: hidden;
}

.imgbx img {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
}

.imgbx img:hover {
    transform: scale(1.2);
}

.class-info h3 {
    color: #000;
    padding-top: 15px;
}

.class-info p {
    color: #9f9f9f;
}

.fa-angle-down {
    margin-bottom: 10px;
    color: rgb(192, 0, 0);
    cursor: pointer;
    transition: transform 0.4s;
}

.fa-angle-down:hover {
    transform: scale(1.3);
}

@media only screen and (max-width:1024px) {
    .imgbx {
        height: 200px !important;
    }
}

@media only screen and (max-width:768px) {
    .classes-box {
        margin-top: 80px;
    }

    .row {
        width: 100%;
    }

    .col {
        flex: none !important;
    }

    .imgbx {
        height: 250px;
    }

    .imgbx img:hover {
        transform: none;
    }

    .class-info h3 {
        font-size: 1.2em;
        padding-top: 12px;
    }

    .class-info p {
        font-size: 0.8em;
        padding-top: 10px;
    }

    .fa-angle-down:hover {
        transform: scale(0);
    }
}

/* classes end */



/* join start */
.join-section {
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url("../assets/images/karate-belt-class.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.join-section::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
}

.s1 {
    position: relative;
    width: 30vw;
    height: 577px;
}

.k1 {
    margin-top: 150px;
}

.k1 h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    align-items: center;
    text-align: center;
}

.s2 {
    position: relative;
    width: 70vw;
    height: 577px;
}

.s2 h2 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
}

.s2 p {
    font-size: 18px;
    color: #fff;
    align-items: center;
    text-align: center;
    margin-left: 80px;
}

.btn1 {
    width: 250px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    margin-left: 350px;
    margin-top: 10px;
    color: #fff;
    background: rgb(192, 0, 0);
    transition: all 0.5s ease;
}

.btn1:hover {
    color: rgb(192, 0, 0);
    background: #fff;
}

.btn2 {
    width: 250px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    transition: all 0.5s ease;
}

.btn2:hover {
    color: rgb(192, 0, 0);
    background: #fff;
}

@media only screen and (max-width:1024px) {
    .s2 h2 {
        margin-left: 100px;
    }

    .s2 p {
        margin-left: 60px;
    }

    .btn1 {
        width: 180px;
        height: 50px;
        font-size: 10px;
        margin-left: 200px;
    }

    .btn2 {
        width: 180px;
        height: 50px;
        padding: 15px;
        font-size: 10px;
    }
}

@media only screen and (max-width:768px) {
    .s1 {
        height: 507px;
    }

    .s2 {
        height: 507px;
    }

    .k1 {
        margin-top: 100px;
    }

    .k1 h2 {
        font-size: 2em;
    }

    .s2 h2 {
        font-size: 2em;
        font-weight: bold;
        margin-top: 120px;
        margin-left: 80px;
    }

    .s2 p {
        font-size: 15px;
    }

    .btn1 {
        width: 200px;
        height: 50px;
        font-size: 12px;
        padding: 15px;
        margin-left: 100px;
    }
}

@media only screen and (max-width:376px) {
    .join-section {
        height: 80%;
    }

    .s1 {
        display: none;
    }

    .s2 {
        width: 100%;
        margin: 0;
    }

    .s2 h2 {
        font-size: 1.6em;
        font-weight: bold;
        margin-top: 100px;
        margin-left: 20px;
    }

    .s2 p {
        font-size: 15px;
    }

    .btn1 {
        width: 150px;
        font-size: 10px;
        padding: 10px;
        margin-left: 20px;
    }

    .btn2 {
        width: 150px;
    }
}

/* join end */







/* instructor start */
.instructor-section {
    height: 80vh;
    margin-top: 50px;
    position: relative;
}

.background-circle {
    width: 450px;
    height: 450px;
    background: red;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    z-index: -10;
}

.instructor {
    height: 80vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

.instructor h2 {
    font-size: 3.2em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.instructor p {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.instructor button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background: green;
    border: none;
    position: absolute;
    bottom: 60px;
    left: 50px;
    transition: all 0.4s ease;
}

.instructor button:hover {
    color: green;
    background: #fff;
    border: none;
}

.inst-img {
    height: 80vh;
}

.inst-img img {
    margin-left: 100px;
    height: 100%;
}

@media only screen and (max-width:1024px) {
    .background-circle {
        width: 250px;
        height: 250px;
    }

    .instructor h2 {
        font-size: 2.8em;
    }

    .instructor p {
        font-size: 15px;
    }

    .instructor button {
        width: 130px;
        height: 50px;
        font-size: 12px;
        bottom: 40px;
        left: 50px;
    }

    .inst-img img {
        margin-left: 30px;
    }
}

@media only screen and (max-width:768px) {
    .background-circle {
        width: 200px;
        height: 200px;
        right: 40px;
    }

    .instructor h2 {
        font-size: 2em;
    }

    .instructor p {
        font-size: 12px;
    }

    .instructor button {
        width: 110px;
        font-size: 0.5em;
        letter-spacing: 3px;
        border-radius: 50px;
    }

    .inst-img img {
        margin-left: 0px;
    }
}

@media only screen and (max-width:376px) {
    .instructor-section {
        height: 160vh;
    }

    .ins {
        flex-wrap: wrap;
    }

    .background-circle {
        width: 250px;
        height: 250px;
        right: 40px;
        z-index: -10;
        top: 520px;
    }

    .instructor {
        width: 100%;
        text-align: center;
    }

    .instructor button {
        left: 120px;
    }

    .inst-img {
        height: 80vh;
        margin-left: 60px;
    }

    .inst-img img {
        margin-top: 40px;
        height: 91%;
    }
}

/* instructor end */



/* testimonial start */
.testimonial-section {
    width: 100%;
    height: 90vh;
    margin-bottom: 50px;
    padding: 80px;
    background-color: #191B1F;
}

.t1 {
    text-align: center;
}

.t1 h1 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.t1-info {
    color: #fff;
    width: 450px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.t2 {
    height: 350px;
    margin-top: 20px;
}

.t2-ts {
    padding: 40px;
    margin: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
}

.t2-ts p {
    color: #fff;
    font-size: 20px;
    padding-left: 0px;
}

.t2-ts h3 {
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 50px;
}

.t2-ts h4 {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    color: rgb(192, 0, 0);
}

@media only screen and (max-width:1024px) {
    .t1-info {
        width: 400px;
        font-size: 15px;
    }

    .t2 {
        height: 300px;
    }

    .t2-ts {
        margin: 10px;
    }

    .t2-ts p {
        font-size: 12px;
    }

    .t2-ts h3 {
        font-size: 20px;
        bottom: 40px;
    }
}

@media only screen and (max-width:768px) {
    .testimonial-section {
        padding: 50px;
    }

    .t1 h1 {
        font-size: 1.8em;
    }

    .t1-info {
        font-size: 12px;
    }

    .t2-ts h3 {
        font-size: 15px;
    }

    .t2-ts p {
        font-size: 10px;
    }
}

@media only screen and (max-width:376px) {
    .testimonial-section {
        height: 140vh;
        text-align: center;
    }

    .t1 {
        flex-wrap: wrap;
    }

    .t1-info {
        width: 200px;
    }

    .t2 {
        flex-wrap: wrap;
    }

    .t2-ts {
        height: 180px;
    }

    .t2-ts h3 {
        text-align: center;
        width: 50%;
        bottom: 20px;
    }

    .t2-ts h3,
    .t2-ts h4 {
        left: 50px;
    }

    .t2-ts h4 {
        padding-top: 10px;
        left: 60px;
        bottom: 0px;
    }
}

/* testimonial end */




/* footer start */
.footer-section {
    width: 100%;
    height: 50vh;
    padding: 50px;
    position: relative;
    background: #191B1F;
}

.sm {
    width: 100%;
    padding: 20px;
}

.foot-info p {
    color: #fff;
    font-size: 25px;
    margin: 0px;
    align-items: center;
}

.links h3 {
    color: #fff;
    padding-left: 30px;
}

.links ul li {
    list-style: none;
}

.links ul li::before {
    content: " ♦ ";
    color: red;
}

.links ul li a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
}

.foot-address h3 {
    color: #fff;
    padding-left: 30px;
}

.foot-address ul li {
    list-style: none;
}

.foot-address ul li::before {
    content: " ♦ ";
    color: red;
}

.foot-address ul li a {
    font-size: 18px;
    color: grey;
    text-decoration: none;
}

.social-media h3 {
    color: #fff;
}

.social-media p {
    color: grey;
}

.social-icon {
    width: 100%;
    height: 50px;
}

.fa-facebook {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

.fa-facebook:hover {
    color: rgb(0, 21, 255);
}

.fa-twitter {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

.fa-twitter:hover {
    color: rgb(85, 190, 255);
}

.fa-instagram {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

.fa-instagram:hover {
    color: orangered;
}

.fa-youtube {
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

.fa-youtube:hover {
    color: red;
}

.border-line {
    color: #fff;
}

.ftc {
    position: relative;
}

.pt {
    color: grey;
    position: absolute;
    left: 70px;
}

.cr {
    color: grey;
    position: absolute;
    right: 70px;
}
.mob {
    display: none;
}
@media only screen and (max-width:1024px) {
    .foot-info p {
        font-size: 20px;
    }

    .links h3 {
        font-size: 20px;
    }

    .links ul li a {
        font-size: 15px;
    }

    .foot-address h3 {
        font-size: 20px;
    }

    .foot-address ul li a {
        font-size: 15px;
    }

    .social-media h3 {
        font-size: 20px;
    }

    .social-media p {
        font-size: 15px;
    }

    .fa-facebook {
        font-size: 30px;
    }

    .fa-twitter {
        font-size: 30px;
    }

    .fa-instagram {
        font-size: 30px;
    }

    .fa-youtube {
        font-size: 30px;
    }
}

@media only screen and (max-width:768px) {
    .footer-section {
        padding: 20px;
    }

    .foot-info p {
        font-size: 15px;
    }

    .links h3 {
        font-size: 15px;
    }

    .links ul li a {
        font-size: 10px;
    }

    .foot-address h3 {
        font-size: 15px;
    }

    .foot-address ul li a {
        font-size: 10px;
    }

    .social-media h3 {
        font-size: 15px;
    }

    .social-media p {
        font-size: 12px;
    }

    .fa-facebook {
        font-size: 20px;
    }

    .fa-twitter {
        font-size: 20px;
    }

    .fa-instagram {
        font-size: 20px;
    }

    .fa-youtube {
        font-size: 20px;
    }

    .pt {
        font-size: 12px;
        left: 20px;
    }

    .cr {
        font-size: 12px;
        right: 20px;
    }
}

@media only screen and (max-width:376px) {
    .footer-section {
        height: 95vh;
    }

    .foot-info {
        margin-bottom: 20px;
    }

    .sm {
        padding: 0px;
    }
    
    .copy p{
        display: none !important;
    }

    .mob {
        display: block;
        font-size: 12px;
        color: #fff;
    }
}


/* footer end */